.container {
    overflow: auto;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: transparent transparent;   /* scroll thumb and track */
    margin: 0;
    
    height: 80%;
    max-height: 700px;



    form {

        h1 {
            margin-bottom: 2rem;    
            text-align: center;
            color: var(--text-title)
        }
        .input_group {
            display: flex;
            flex-direction: column;

            &  + .input_group {
                margin-top: 1rem;
            }

            label {
                font-size: 1.3rem;
                color: var(--text-title);
                font-weight: 500;
            }

            input, textarea {
                resize: none;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                outline: 0;
                border: 0;
                border: 1px solid #ccc;
                transition: 0.2s;
                border-radius: 0.25rem;

                &:focus {
                    border: 1px solid var(--blue);
                }
            }

            textarea {
                &:focus {
                    border: 1px solid var(--blue);
                }
            }

        }
        button {
            border-radius: 0.25rem;
            width: 100%;
            margin-top: 1rem;
            height: 3rem;
            border: 0;
            font-weight: bold;
            color: #FFF;
            background: var(--blue-light);
            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9)
            }
        }
    }
}