.header {
    background: var(--blue);
    text-transform: uppercase;
    padding: 10px;
    
    .container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        h1 {
            font-size: 2rem;
            color: #FFF
        }

        button {
            text-align: center;
            border: 0;
            background: var(--blue-light);
            padding: 0 2rem;
            height: 3rem;
            border-radius: 0.25rem;
            transition: filter 0.2s;
            color: #FFF;
            font-weight: 500;

            &:hover {
                filter: brightness(0.9)
            }
        }

        @media (max-width: 700px) {
            gap: 2rem;
            display: flex;
            flex-direction: column;

            button {
                width: 100%
            }
        }
    }

}