.tableList {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border-spacing: 0 1rem ;
    
    th {

        color: var(--text-body);
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        padding: 0 2rem;

        &:first-child, &.titleActions {
            text-align: center;
        }
    }

    td {
        padding: 0 2rem;
        height: 4rem;
        border: 0;
        background: var(--shape);


        &:first-child {
            text-align: center;
            border-radius: 0.5rem 0 0 0.5rem;
        }
        &:last-child {
            text-align: center;
            border-radius: 0 0.5rem  0.5rem 0;
        }

        &.actions{
            display: flex;
            gap: 1.3rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            transition: 0.2s;

            svg {

                transition: .2s;
                &:first-child {
                    fill: var(--green)
                }

                &:nth-child(2) {
                    fill: var(--blue-light)
                }

                &:last-child {
                    fill: var(--red)
                }

                &:hover {
                    margin-top: -0.7rem
                }

            }

        }
    }
}